:root{
    --padding-height: 8px;
}

@keyframes spin
{
   0%{transform: rotate(0deg);} 
   25%{transform: rotate(90deg);} 
   50%{transform: rotate(180deg);} 
   75%{transform: rotate(270deg);} 
   100%{transform: rotate(360deg);} 
}
@keyframes reverseSpin
{
   0%{transform: rotate(360deg);} 
   25%{transform: rotate(270deg);} 
   50%{transform: rotate(180deg);} 
   75%{transform: rotate(90deg);} 
   100%{transform: rotate(0deg);} 
}

@keyframes fadeIn
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

body
{
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #25274d;
    background-color: #f8e9a1;
    /* animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in; */
    margin-top: 70px;
    margin-left: 0px;
}

h1
{
    font-size: 50px;
}

h3
{
    font-size: 30px;
}
p
{
    /* margin-left: 200px;
    margin-right: 200px; */
    font-size: 20px;
}


nav
{
    padding: 14px;
    background-color: #25274d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav a
{
    text-decoration: none;
    color: white;
    padding: 14px 14px;
    font-size: 18px;
}

#fun-time
{
    color: greenyellow;
    font-size: 50px;
}

nav a:hover
{
    background-color:#f8e9a1;
    color: #25274d;
}

table 
{
    border-collapse: collapse;
    font-size: 40px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

table, th, td
{
    border: 3px solid black;
}


th{background-color: white;}
tr:nth-child(odd){background-color: yellow;}
tr:nth-child(even){background-color: orange;}
tr:hover{background-color: magenta;}



input
{
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    height: 10%;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

#button
{
    font-size: 50px;
    border: none;
    background-color: greenyellow;
    color: red;
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
}

#button:hover
{
    color: greenyellow;
    background-color: red;
    cursor: pointer;
}

#swapped
{
    font-size: 80px;
    font-style: italic;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.logo2 {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.portrait {
    width: 300px;
    height: 300px;
    margin: 5px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border-radius: 25px;
    border: 2px solid darkgrey;
    background: #d1d1e0;
    width: 200px;
    margin: 20px;
    text-align: center;
    font-size: 15px;
}

/* .flex-container div p{
    margin: 10px;
} */

#projects div{
    width: 300px;
}

#projects a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

div ul {
    list-style-type: none;
}

.madeWithContainer {
    font-weight: bolder;
    font-size: large;
}


